<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GreenovaEntities" connectionString="metadata=res://*/Projector.csdl|res://*/Projector.ssdl|res://*/Projector.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=D:\Greenova\Greenova.Projector\Greenova.Projector.WebApplication\App_Data\Projector.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>